.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width:426px){
  .side-bar{
    width: 30%;
  }
  .login-text{
    font-size: 12px;
    padding: 0  ;
    margin-left:3px ;
  }
  .icon{
  padding: 0;
  margin: 5px 0 0 5px;
  align-items: center;
  
  }
  .logo-icon{
    width: 14px;
   padding: 0;
   margin: 0;
  } 
  .side-bar-text{
    font-size: 10px;
  }
 

}

@media  (min-width:426px) and (max-width: 768px) {
  /* .logo-icon{
    width: 15px;
   
  }
  .login-text{
    font-size: 12px;
    margin: 0;
    padding-left: 1px;
  }
  .icon{
    padding: 0;
    margin: 0;
  } */

  .logo-icon{
    width: 30px;
   
  }
  .login-text{
    font-size: 20px;
  }
  .icon{
    padding: 3px;
    margin: 7px;
    align-items: center;
  }

}